{% extends "sma/base.html" %}


{% load static %}

  {% block title %}
   {{ article.title }}
  {% endblock %}

{% block contant %}
<section class="banner__section breadcumnd__banner bannerbg">
   <!--Mask-->
   <div class="banner__bgmask">
      <img src="{% static  'img/elements/box-element.png' %}" alt="mask">
   </div>
   <!--Mask-->
   <!--Container-->
   <div class="container">
      <div class="breadcumnd__wrapper">
         <div class="row g-4  justify-content-between align-items-end">
            <!--col-->
            <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-8">
               <div class="breadcumnd__content">
                  <h1 class="title"> 
                     Article Details
                  </h1>
                  <ul class="breadcumnd__list">
                     <li>
                        <a href="{% url 'index'  %}">
                           Home
                        </a>
                     </li>
                     <li>
                        <span class="icon">
                           <i class="material-symbols-outlined">
                              chevron_right
                           </i>
                        </span>
                     </li>
                     <li>
                        <a href="{% url 'posts'  %}">
                           Posts
                        </a>
                     </li>
                     <li>
                        <span class="icon">
                           <i class="material-symbols-outlined">
                              chevron_right
                           </i>
                        </span>
                     </li>
                     <li class="sucess">
                        Details
                     </li>
                  </ul>
               </div>
            </div>
            <!--col-->
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-8">
               <div class="breadcumnd__thumb">
                  <img src="{% static 'img/banner/breadcumnd.png' %}" alt="bread">
               </div>
            </div>
            <!--col-->
         </div>
         <!--ai text-->
         <div class="bread__ai">
            <img src="{% static '/img/elements/t-element.png' %}" alt="img">
         </div>
         <!--ai text-->
      </div>
   </div>
   <!--Container-->
</section>
<!-- Banner End -->

<!-- Blog Details Here -->
<section class="service__section bg__white pt-120 pb-80">
   <!--container-->
   <div class="container">
      <div class="row">
         <div class="col-xxl-8 col-xl-8 col-lg-8">
            <div class="service__details__left blog__details__left">
               <div class="machine__learning__box mb-5">
                  <div class="details__thumb">
                     <img src="{{ article.image }}" alt="details">
                     {% comment %} <img src="{% static 'img/bog-capabilities/blog-details1.png' %}" alt="details"> {% endcomment %}
                  </div>
                  <div class="content">
                     <h2 class="headtext">
                        {{ article.title }} 
                     </h2>
                     <p class="text1">
                        {{ article.summary }}
                     <br>
                     <br>
                     </p>
                     <a href="{{ article.url }}" class="text-primary">{{ article.url }}</a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-4">
           <div class="service__details__right">
               <div class="common__item">
                  <h5 class="title">
                     Follow Our Journey
                  </h5>
                  <ul class="social__standard">
                     <li>
                         <a href="javascript:void(0)" class="social__item">
                           <img src="{% static 'img/calltoaction/facebook.svg' %}" alt="icon">
                        </a>
                     </li>
                     <li>
                         <a href="javascript:void(0)" class="social__item social__itemtwo">
                           <img src="{% static 'img/calltoaction/instagram.svg' %}" alt="icon">
                        </a>
                     </li>
                     <li>
                         <a href="javascript:void(0)" class="social__item social__itemthree">
                           <img src="{% static 'img/calltoaction/twitter.svg' %}" alt="icon">
                        </a>
                     </li>
                     <li>
                         <a href="javascript:void(0)" class="social__item social__itemfour">
                           <img src="{% static 'img/calltoaction/linkedin.svg' %}" alt="icon">
                        </a>
                     </li>
                  </ul>
               </div>
           </div> 
         </div>
      </div>
   </div>
   <!--container-->
</section>
<!-- Blog Details End -->
    
{% endblock contant %}