
<h2> Hi Dear,</h2>


<p>We have received a request to reset your password for your Smart content Accomolator  account. To ensure the security of your account, please follow the instructions below to reset your password.</p>

<p> Click on the following link to access the password reset page: {{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %} </p>

<p> On the password reset page, you will be prompted to enter a new password for your account. Choose a strong and unique password that is not easily guessable.</p>

<p> Once you have entered your new password, click on the "Reset Password" button to confirm the changes. </p>

<p>If you have any questions or need further assistance, please don't hesitate to contact our support team at huzaifatahir7524@gmail.com . We are here to help you. </p>

<p>Thank you for your attention to this matter. </p>

<h3> Best regards, </h3>

<h3>  Smart content Accomolator Team </h3>

